<%- include('head') %>
<%- include('../nav-admin') %>

<div class="full-screen screen-user">
  <div class="container-fluid">
    <nav aria-label="breadcrumb" class="content-header-breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Atividades Acadêmicas Complementares (<%= aacsList.length %>)

        </li>
      </ol>
      <span><a href="/aac/nova-aac">Criar nova</a></span>
    </nav>
    <div class="users-table">
      <div class="table-responsive set-margin">
        <table class="table table-borderless table-hover">
          <thead class="thead-dark">
            <tr>
              <th>Atividade</th>
              <th class="text-center">Modalidade</th>
              <th class="text-center">Carga horária limite</th>
              <th></th>
            </tr>
          </thead>
      
          <tbody>
            <% aacsList.forEach(aac => {%>
              <tr>
                <td class="font-weight-bold"><%= aac.atividade %></td>
                <td class="text-center"><%= aac.modalidade %></td>
                <td class="text-center"><%= aac.cargaLimite %></td>
                <td><span class="material-icons edit">
                  <a href="/usuarios/edit/<%= user._id %>">edit</a>
                </span></td>
              </tr>
            <%}); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<%- include('footer') %>
