<%- include('head') %>
<%if(user === 'Aluno') {%>
  <%- include('../nav-aluno') %>
<%} else if(user === 'Coordenação') {%>
  <%- include('../nav-coo') %>
<%} else if(user === 'Secretaria') {%>
  <%- include('../nav-sec') %>
<%}%>

<div class="full-screen screen-user">
  <div class="container-fluid">
    <nav aria-label="breadcrumb" class="content-header-breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Solicitações (<%= envios.length %>)

        </li>
      </ol>
      <%if(user === 'Aluno') {%>
      <span><a href="/solicitacao/novo-envio">Nova Solicitação</a></span>
      <%}%>
    </nav>
    <div class="users-table">
      <div class="table-responsive set-margin">
        <table class="table table-borderless table-hover">
          <thead class="thead-dark">
            <tr>
              <th>Atividade</th>
              <%if(user === 'Aluno') {%>
                <th>Modalidade</th>
              <%} else if (user === 'Coordenação') {%>
                
              <%} else if (user === 'Secretaria') {%>
                <th>Pré aprovado por</th>
              <%}%>
              <th class="text-center">Status</th>
              <th>Andamento</th>
              <th class="text-center">Última modificação</th>
              <th></th>
            </tr>
          </thead>
      
          <tbody>
            <% envios.forEach(envio => {%>
              <tr>
                <td class="font-weight-bold set-width"><%= envio.atividade %></td>
                <%if(user === 'Aluno') {%>
                  <td><%= envio.modalidade %></td>
                <%} else if (user === 'Coordenação') {%>
                  
                <%} else if (user === 'Secretaria') {%>
                  <td><%= envio.approvedByCoo %></td>
                <%}%>
                <td class="text-center">
                  <% if(envio.status === 'pendingCoo' || envio.status === 'pendingSec') {%>
                    Em análise
                  <%} else if (envio.status === 'editing') {%>
                    Requer edição    
                  <%} else {%>
                    Aprovado
                  <%}%>
                </td>
                <td>
                  <div class="progress <%= envio.status %>">
                    <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td class="text-center set-size"><%= envio.updatedAt %></td>
                <td><span class="material-icons edit">
                  <%if(user === 'Aluno' && envio.status !== 'editing' && envio.status !== 'approved') {%>
                    <a class="need-edition" href="/solicitacao/edit/<%= envio._id %>">edit</a>
                  <%} else if (user === 'Aluno' && envio.status === 'editing'){%>
                    <a class="priority-high" href="/solicitacao/edit/<%= envio._id %>">priority_high</a>
                  <%} else if (user !== 'Aluno'){%>
                    <a class="need-edition" href="/solicitacao/view/<%= envio._id %>">read_more</a>
                  <%} else if (user === 'Aluno' && envio.status === 'approved'){%>
                    <a class="status-approved">check_circle</a>
                  <%}%>
                </span></td>
              </tr>
            <%}); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<%- include('footer') %>
