<%- include('head') %>

<div class="full-screen signup-user">
  <div class="container-fluid">
    <nav aria-label="breadcrumb" class="content-header-breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/solicitacoes">Solicitações</a></li>
        <% if(envioId._id) {%>
          <li class="breadcrumb-item active" aria-current="page">Editar envio</li>
        <% } else {%>
          <li class="breadcrumb-item active" aria-current="page">Criar solicitação</li>
        <% }%>
      </ol>
      <!-- <span><a href="/solicitacao/novo-envio/regulamento" target="blank">Ver Regulamento</a></span> -->
    </nav>
    <div class="card">
      <%- include('messages') %>
      <div style="width: 100%; display: none;" id="alert-file">
        <div class="alert alert-danger" style="margin: 0 auto 1rem;">
          Por favor, selecione um arquivo .pdf, .jpeg, .jpg ou .png
        </div>
      </div>

      <% if(envioId._id) {%>
        <div style="width: 100%;">
          <div class="alert alert-warning" style="margin: 0 auto 1rem;">
            <%= `Você está editando o envio de atividade ${envioId ? envioId.atividade : ''}` %>
          </div>
        </div>
      <% }%>
      <div class="card-body">
        <% if(envioId._id) {%>
          <h5>Edição de envio</h5>
        <% } else {%>
          <h5>Envio de solicitação</h5>
        <% }%>
        <p>
          Lorem ipsum a iaculis purus curae mi est habitasse nam auctor sed, class luctus feugiat sociosqu nulla est
          accumsan ac nullam scelerisque. netus nullam accumsan imperdiet sit suscipit rhoncus accumsan, mi velit platea
          urna tristiq.
        </p>

        <% if (envioId._id) { %>
          <% console.log(envioId._id) %>
          <form class="envio-form" action="/solicitacao/edit/<%= envioId._id %>" method="POST">
        <% } else { %>
          <form class="envio-form" action="/solicitacao/novo-envio/create" method="POST">
        <% }%>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <div class="input-group envio-group">
            <div class="input-group-append">
              <label class="input-group-text" for="input">Atividade</label>
            </div>
            <% if(envioId._id) {%>
              <input value="<%= envioId.atividade %>" type="text" class="form-control" aria-label="Type User" disabled>
            <% } else {%>
              <select class="custom-select" onchange="setModalidade(this, <%= JSON.stringify(atividades) %>)" id="atividade" name="atividade">
                <% atividades.forEach(res => {%>
                <option value="<%=res.atividade%>"><%=res.atividade%></option>
                <% });%>
              </select>
            <% }%>
          </div>
          
          <div class="form-group">
            <div class="form-row">
              <div class="col">
                <input value="<%= envioId.horasEquivalentes %>" type="text" placeholder="Duração do evento" class="form-control" id="horasEquivalentes" name="horasEquivalentes">
              </div>
              <div class="col">
                <%if (envioId._id) {%>
                  <input value="<%= envioId.modalidade %>" type="text" placeholder="Modalidade" disabled class="form-control" id="modalidade" name="modalidade">
                <%} else {%>
                  <%if(atividades.length > 0) {%>
                    <%for(let i = 0; i <= atividades.length; i++) {%>
                      <%if (i==0) {%>
                        <input value="<%= atividades[0].modalidade %>" type="text" placeholder="Modalidade" disabled class="form-control" id="modalidade" name="modalidade">
                      <%}%>
                    <%}%>
                  <%} else {%>
                    <input value="<%= envioId.modalidade %>" type="text" placeholder="Modalidade" disabled class="form-control" id="modalidade" name="modalidade">
                  <%}%>
                <%}%>
              </div>
            </div>
          </div>

          <div class="input-group set-margin">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupFileAddon01">Declaração</span>
            </div>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="file" name="file" onchange="getFile()" aria-describedby="inputGroupFileAddon01">
              <label class="custom-file-label" id="labelInput" for="file">Escolha um arquivo</label>
            </div>
          </div>

          <input style="display: none;" type="text" name="fileBase64" id="fileBase64">

          <span class="buttons-action">
            <button type="button" class="btn left-button">
              <a href="/usuarios">Cancelar</a>
            </button>
            <% if(envioId._id) {%>
              <button type="submit" class="btn right-button">
                Atualizar
              </button>
            <% } else {%>
              <button type="submit" class="btn right-button">
                Cadastrar
              </button>
            <% }%>
          </span>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('footer') %>
