<%- include('head') %>

<div class="full-screen screen-user">
  <div class="container-fluid">
    <nav aria-label="breadcrumb" class="content-header-breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Usuários</li>
      </ol>
      <span><a href="/usuarios/novo-usuario">Criar novo</a></span>
    </nav>
    <div class="users-table">
      <div class="table-responsive">
        <table class="table table-borderless table-hover">
          <thead class="thead-dark">
            <tr>
              <th>Nome</th>
              <th>CPF</th>
              <th class="text-center">Matrícula</th>
              <th>Email</th>
              <th class="text-center">Modalidade</th>
              <th></th>
            </tr>
          </thead>
            
          <tbody>
            <% usersList.forEach(user => {%>
              <tr>
                <td class="font-weight-bold"><%= user.name %></td>
                <td><%= user.cpf %></td>
                <td class="text-center"><%= user.matricula %></td>
                <td><%= user.username %></td>
                <td class="text-center"><%= user.typeUser %></td>
                <td><span class="material-icons edit">
                  <a href="/usuarios/edit/<%= user._id %>">edit</a>
                </span></td>
              </tr>
            <%}); %>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<%- include('footer') %>
